body{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}
header{
    background-color: rgba(0, 0, 0, 0.74);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header ol , ul{
    display: flex;
    flex-direction: row;
}
header ol li , ul li{
    margin: 10px 20px;
    list-style: none;
    cursor: pointer;
}
.logo_img i{
    margin: 0px;
    font-size: 40px;
}
.pipu{
    font-size: 35px;
}
.heart{

    border: 2px white solid;
    padding: 10px 15px;
}
.lishki{
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grey{
    background-color: grey;
    padding: 10px 15px;
}
.green{
    padding: 5px 10px;
    background-color: rgb(39, 153, 17);
}
/* main */
main{
    padding: 1vh 20% 1vh 4%;
    height: 100vh;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    flex-direction: row;
    background-color: rgba(7, 153, 7, 0.822);
}

.texts{
    display: flex;
    justify-content: space-between;
    width: 80%;
    
    height: 20vh;
}
.sec_1{

    display: flex;
    flex-direction: row;
    flex: start;
}
.bigs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.meds{
    display: flex;
    flex-direction: row;
}
.lil{
    cursor: pointer;
    width: 180px;
    height: 135px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 5px;
    position: relative;
}
.lil:hover{
    transform: scale(1.05);
}
.pishka{
    position: absolute;
    left: 5px;
    bottom: -10px;
    color: rgba(255, 255, 255, 0.678);
    font-size: 14px;
}
.one{
    flex: 2;
    background: rgb(55, 112, 236);
}
.two{
    flex: 2;
    background: orangered;
}
.three{
    flex: 1;
    background: rgb(248, 21, 21);
}
.four{
    flex: 1;
    background: rgb(31, 150, 31);
}
.five{
    flex: 1;
    background: rgb(0, 162, 255);
}
.six{
    flex: 1;
    background: yellowgreen;
}
.seven{
    flex: 2;
    background: url("https://media.wired.com/photos/598e35fb99d76447c4eb1f28/master/pass/phonepicutres-TA.jpg")center/cover;
}
.eight{
    flex: 1;
    background: rgb(255, 60, 0);
}
.nine{
    flex: 1;
    background: rgb(255, 153, 0);
}
.ten{
    flex: 2;
    background: rgb(0, 153, 255);
}
.eleven{
    flex: 1;
    background: rgba(50, 206, 2, 0.986);
}
.lil i{
    font-size: 30px;
    color: white;
}